body{
    background-image:url(Projectimages/Rectangle\ 8.png)
    ;
}

.atmos{
    width: 190.972px;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 68px;
margin-left: 120px;
}
.login{
    width: 183px;
height: 46px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: absolute;
right: 0;
margin-top: 68px;
margin-right: 120px;
}
.MainHeading{
    width: 662px;
height: 268px;
flex-shrink: 0;
border-radius: 40px;
background: linear-gradient(166deg, rgba(217, 217, 217, 0.60) 0%, rgba(217, 217, 217, 0.20) 100%);
box-shadow: 14px 10px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
margin: auto;
margin-top: 244px;
}
.CampusAmbHeading{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 6.6px;
margin: auto;
padding: 25px 40px 25px 34px;

}
.Apply{
    width: 662px;
height: 68px;
flex-shrink: 0;
    border-radius: 40px;
background: linear-gradient(148deg, rgba(217, 217, 217, 0.60) 0%, rgba(217, 217, 217, 0.30) 100%);
box-shadow: 10px 8px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(15px);
margin: auto;
margin-bottom: 352px;
}
.Applynow{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 31px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 4.805px;
mix-blend-mode: overlay;
margin-top: 25px;
padding: 13px 170px;
}

.about{
    width: 367px;
height: 91px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 54px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 3.24px;
mix-blend-mode: overlay;
margin: auto;
margin-top: 56px;
}

.Contentbox{
    width: 1300px;
height: 802px;
flex-shrink: 0;
    border-radius: 40px;
    background: linear-gradient(166deg, rgba(217, 217, 217, 0.60) 0%, rgba(217, 217, 217, 0.20) 100%);
    box-shadow: 14px 10px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    margin: auto;
}
.Content{
    width: 1134px;
height: 639px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: auto;
padding: 81px 80px;
}
.why{
    width: 537px;
height: 145px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 54px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 3.24px;
margin: auto;
margin-top: 142px;
margin-bottom: 72px;

}
.Box1{
    width: 389px;
height: 415px;
flex-shrink: 0;
border-radius: 40px;
background: linear-gradient(166deg, rgba(217, 217, 217, 0.60) 0%, rgba(217, 217, 217, 0.20) 100%);
box-shadow: 14px 10px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
position: relative;
left: 105px;
}
.Box2{
    width: 389px;
height: 415px;
flex-shrink: 0;
border-radius: 40px;
background: linear-gradient(166deg, rgba(217, 217, 217, 0.60) 0%, rgba(217, 217, 217, 0.20) 100%);
box-shadow: 14px 10px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
position: relative;
left: 549px;
bottom: 415px;
}

.Box3{
    width: 389px;
height: 415px;
flex-shrink: 0;
border-radius: 40px;
background: linear-gradient(166deg, rgba(217, 217, 217, 0.60) 0%, rgba(217, 217, 217, 0.20) 100%);
box-shadow: 14px 10px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
position: relative;
left: 993px;
bottom:830px;
}